
.hidden {
    display:none;
}
.my-image{
    height:0px;
    transition: 1s;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 0px;
    overflow: hidden;
    

    transition: 1s;
}
.container-show{
    height:320px;
}
.imageShow{
    display: block;
    height:300px;
    border-radius: 10px;
   
}
.swapping{
    height:0px;
}
.save-button{
    display: block;
    width:200px;
    height:20px;
}