html, body, header {
    margin: 0px;
    padding: 0px;
}
p{
    font-size:10px;
}
body{
    background-color: rgb(249, 247, 236);
}
.base-buttons{
    background-color: burlywood;
    padding: 10px;
}
.hidden {
    display:none;
}
.my-image{
    height:0px;
    transition: 1s;
}
.image-container{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 0px;
    overflow: hidden;
    

    transition: 1s;
}
.container-show{
    padding:20px;
    height:320px;
}
.imageShow{
    display: block;
    height:300px;
    border-radius: 10px;
   
}
.swapping{
    height:0px;
}
.save-button{
    display: block;
    width:200px;
    height:20px;
}
.text-and-other-container{
    padding-left: 30px;
}

#post-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    background-color: burlywood;
    border-radius: 10px;
}
.img-post-container{
    position: relative;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 3px;
    margin: 10px;
    transition: 1s;
}
.shrink{
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    transition: 1s;
}
.img-post{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: 0.5s;
    border-radius: 3px;
}
.img-post:hover{
    width: 110%;
    height: 110%;
    transform: translateX(-5%) translateY(-5%);
    object-fit:cover;
}
.delete-btn{
    width: 12px;
    height: 12px;
    background-color: rgb(165, 29, 29);
    font-size: 11px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top:0px;
    right:0px;
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    vertical-align:bottom;
    text-align: center;
}
.delete-btn-hvr:hover{
    background-color: rgb(246, 148, 148);
    width:15px;
    height:15px;
    transition: 0.25s;
}

.going-to-explode{

    transition: 1s;
    width:200px;
    height:200px;
}